<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <SendEmail>
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.SendEmail.FillEmail, Sitecore.EmailCampaign"  set:type="Sitecore.Support.EmailCampaign.Core.Pipelines.SendEmail.FillEmail, Sitecore.Support.38000">
        </processor>
      </SendEmail>
    </pipelines>
    </sitecore>
</configuration>